body{
    background-image: url("images/bruce.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
}
input[type=text],input[type=password],input[type=email],input[type=submit],select{
    display: inline-block;
    border-radius: 10px;
    width: 50%;
    padding: 12px 15px;
    border: 0.25px solid black;
    box-sizing: border-box;
}
input[type=submit]{
    width: 50%;
    height: 50px;
    background-color: brown;
}
legend{
    color: whitesmoke;
    font-size: 30px;
    font-family: Meera;
}
label{
    color: whitesmoke;
    text-align: justify;
}
input[type=submit]:hover{
    background-color: red;
}